# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\SEMESTER 7\(2) CSE443 Object Oriented Analysis and Design\FINAL\Epidemic Simulator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
